*.o
.vscode
.vscode/*
c_cpp_properties.json
*.a
testing/avl_test
testing/stack_test
testing/graph_vertex_edge_test
testing/mem_option_test
testing/generate_graph_json_test
testing/single_context_test
testing/switch_context_test
testing/request_test
testing/none_context_test
testing/multi_edge
testing/self_edge
testing/*.o
parse/topologic_parser.tab.c
parse/topologic_parser.yy.c
parse/topologic_parser_cpp.tab.cpp
parse/topologic_parser_cpp.tab.hpp
parse/topologic_parser_cpp.yy.cpp
src/*.o
state_*.json
parse/*.c
parse/*.h
*.swp
*.swo
*.txt
*.swo
*.cc
*.pyc
topylogic/__pycache__/*
topylogic/topylogic.py
topylogic/_topylogic.so
topylogic/topylogic_wrap.c
*.exe
#rustopologic/RustTopologic/Cargo.toml
rustopologic/RustTopologic/Cargo.lock
rustopologic/RustTopologic/target/*
rustopologic/RustTopologic/src/*.c
rustopologic/RustTopologic/src/bindings.rs
rustopologic/RustTopologic/include/*
rustopologic/RustTopologic/*.a
rustopologic/RustTopologic/rustTests/bindings.rs

topologicsharp/*.cs
topologicsharp/*.c
topologicsharp/_topologicsharp.so
*.dll
latex/*
man/*
html/*
TopologicDoc.conf


